.letter-page{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(180deg,#08111f,#10284c,#172f63);

padding:30px;

}

.letter-card{

width:700px;

max-width:95%;

background:white;

border-radius:20px;

padding:40px;

box-shadow:0 20px 50px rgba(0,0,0,.4);

}

.letter-card pre{

white-space:pre-wrap;

font-size:22px;

line-height:1.8;

font-family:Georgia,serif;

color:#222;

}